body {
  color: #033170;
}

.header,
#footer {
  background-color: #033170;
}
.about-me {
  border: #033170 solid 1px;
  border-radius: 6px;
}
#Contact-info {
  background-color: #033170;
}
h6 {
  color: #033170;
}
#footer {
  color: white;
}
